# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Evan\Documents\L3 INFO\LIF13 - Algorithmique et  Programmation Orientée Objet\Projet\FlowGame\.idea/dataSources/
/../../../../../../../../../:\Users\Evan\Documents\L3 INFO\LIF13 - Algorithmique et  Programmation Orientée Objet\Projet\FlowGame\out/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
